// import here
@use "../../costumize" as *;
@use "../../component/mixins" as *;

// LOGBOOK CONTENT
.logbook {

    table {

        tr {
            th, td {
                padding: 0;
                margin: 0;
            }

            th { border: 1px solid black; }
        }

        tr:nth-child(odd):not(tr:first-child) { background-color: $gray-300 !important; }
    }

}