<!-- APPOINTMENT FORM -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouth Masters</title>
    
    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- 'Roboto', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,700;1,900&display=swap" rel="stylesheet">

    <!-- 'Open Sans', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- 'Pacifico', cursive -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- 'Anton', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Script -->
    <script src="../js/components/transformation.js"></script>
    <script src="../js/components/modal.js"></script>
    <script src="../js/pages/form.js"></script>
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-white px-4">
        <div class="container-fluid">
            <a class="navbar-brand text-success pacifico weight-500 me-4" href="#">
                <i class="fa-solid fa-tooth me-2" width="30" height="24"></i>
                Mouth Masters
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-4 me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 active text-grayish" href="#"><i class="fa-solid fa-table-columns me-2"></i>Dashboard</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-teeth me-2"></i>Intraoral</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-tablet me-2"></i>Screening</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-book me-2"></i>Logbook</a>
                </li>
                </ul>   
                <form class="d-flex m-0 p-0 w-50 text-end" role="search">
                    <div class="form-control form-control-sm bg-light border-0 m-0 p-0">
                        <input class="border border-1 rounded rm-outline w-50 m-0 me-2 py-1 px-2 fs-sm" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success hover-to-dark text-light m-0 py-0 px-4 fs-sm" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Container Wrapper -->
    <div class="container-wrapper container-fluid bg-light-gray">
    <div class="row">

        <!-- Sidebar -->
        <div class="sidebar col-2 bg-light py-4 sticky-top">

            <div class="wrapper">

                <!-- Medical History Section -->
                <div class="card-content text-center bg-light border border-light rounded hover-to-grayish px-2 py-4">
                    <object data="../svg/medical-history.svg"></object>
                    <h5 class="roboto my-3">Medical History</h5>
                    <p class="roboto weight-100 fs-xs">A record of information about a your personal health.</p>
                    <a href="#"
                    data-src="SRC_URL"
                    data-title="Add Medical History"
                    data-paragraph="You previous history are cannot be updated. Do you want to add new history for your new update?"
                    data-color="bg-success"
                    data-btn="Add"    
                    class="modal-trigger btn btn-success px-5 py-1 rounded-pill roboto text-light weight-500 hover-to-dark fs-xs shadow-none">Add</a>
                </div>

                <div class="duty border border-0 px-2 pt-0 pb-2 mt-3 text-start">
                    <p class="roboto ms-2 fs-xs weight-600 text-grayish">Welcome to our Clinic</p>
                    <a class="btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-teeth me-2"></i>Intraoral</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-tablet me-2"></i>Screening</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-book me-2"></i>Appointment</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-notes-medical me-2"></i>History</a>
                </div>

            </div>

        </div>
    
        <!-- Main Content -->
        <div class="col-7 p-4">

            <!-- Content Information -->
            <div class="form-information content-information">

                <div class="section-title bg-success rounded-top px-4 py-4 text-center">
                    <h5 class="roboto text-light-gray weight-600 m-0 mt-3 p-0">Dental Clinic Form</h5>
                    <p class="roboto text-light-gray weight-500">Mouth Master - Dental Clinic</p>
                </div>

                <form action="#" method="POST">

                <div class="section-body bg-light p-5">
                    <div class="row">
                        
                        <div class="col-12">
                            <p class="roboto text-grayish weight-600 fs-sm pt-0 mt-0"><i class="fa-solid fa-calendar-check me-2"></i>Appointment</p>
                        </div>

                        <!-- First Row -->
                        <div class="col-3 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="tooth_no">Tooth No./s <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="number" name="tooth_no">
                        </div>
                        
                        <div class="col-9 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="procedure">Procedure <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="text" name="procedure">
                        </div>

                        <!-- Second Row -->
                        <div class="col-4 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="charge">Amount Charge <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="number" step="0.01" name="charge">
                        </div>
                        
                        <div class="col-4 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="paid">Amount Paid <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="number" step="0.01" name="paid">
                        </div>
                        
                        <div class="col-4 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="balance">Balance <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="number" step="0.01" name="balance">
                        </div>

                        <!-- Third Row -->
                        <div class="col-8 mt-4 mb-3">
                            <label class="d-block roboto weight-500 mb-0 pb-0 ps-1" for="appointment">Next Appointment <strong class="text-danger ms-1">*</strong></label>
                            <input required class="w-100 border border-secondary rounded px-3 py-1 mt-2" type="date" name="appointment">
                        </div>

                        <!-- Last Row -->
                        <div class="col-4 mt-5 pt-2 d-flex flex-column text-center">
                            <div class="text-end">
                                <button type="submit" class="w-100 btn btn-success text-light hover-to-dark px-4 py-1 ms-1">Add</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="section-body bg-light p-5 pt-4 border-top border-1 border-secondary">
                    <div class="row">

                        <p class="text-grayish roboto weight-600 fs-xs date-p">Month DD, YYYY</p>

                    </div>
                </div>

                </form>

            </div>

            <footer class="footer bg-success rounded-bottom px-4 pt-4 pb-2">
                <div class="row">

                    <div class="col-6">
                        <h6 class="text-light roboto weight-600 mb-4">Mouth Masters - Dental Clinic</h6>
                        <p class="text-light roboto fs-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="col-3 text-end">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Services</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                        </ul>
                    </div>

                    <div class="col-3 text-end">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Tags</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Laravel</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">SASS</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Bootstrap</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">JavaScript</p></li>
                        </ul>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Copyright @ YYYY</p>
                    </div>

                </div>
            </footer>

        </div>
    
        <!-- Section -->
        <div class="section col-3 bg-light py-4 sticky-top">

            <div class="wrapper">

                <!-- X-ray Section -->
                <div class="card-content text-center border border-light bg-light rounded hover-to-grayish px-2 py-4">
                    <object data="../svg/x-ray.svg"></object>
                    <h5 class="roboto my-3">X-ray</h5>
                    <p class="roboto weight-100 fs-xs">Examine the structure of your teeth for precise consultation.</p>
                    <a href="#"
                    data-src="SRC_URL"
                    data-title="Add X-Ray Examination"
                    data-paragraph="You previous examination are cannot be updated. Do you want to add new examination for your new update?"
                    data-color="bg-success"
                    data-btn="Add"    
                    class="modal-trigger btn btn-success px-5 py-1 rounded-pill roboto text-light weight-500 hover-to-dark fs-xs shadow-none">Add</a>
                </div>

                <!-- Navigations -->
                <div class="duty navigation-section mt-3">

                    <!-- User Lists -->
                    <p class="roboto ms-2 fs-xs weight-600 text-grayish">Dentist on Duty</p>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>dentist_name denstist name</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>dentist_name denstist name</a>
                    
                    <!-- Personnel List -->
                    <p class="roboto ms-2 mt-4 fs-xs weight-600 text-grayish">Personnel on Duty</p>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>personnel denstist name</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>personnel denstist name</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>personnel denstist name</a>
                    <a class="btn btn-light w-100 text-start shadow-none my-2" href="#"><i class="fa-solid fa-user-tie me-2 text-dark fs-sm"></i>personnel denstist name</a>

                </div>

            </div>

        </div>

    </div>
    </div>

    <div class="modal-section fade modal-dialog-centered text-center">
        <div class="modal-dialog w-25 rounded-top">
            <div class="modal-content bg-light rounded-top">
            <div class="modal-header-box bg-danger text-center py-3 rounded-top">
                <h5 class="modal-title d-block text-light" id="exampleModalLabel">notificationMessage</h5>
                <p class="d-block p-0 m-0 fs-sm text-light">Mouth Masters - Dental Clinic</p>
                <button class="btn btn-danger close-btn shadow-none border border-none border-0"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body p-3">
                <p class="modal-paragraph fs-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn cancel-btn btn-secondary px-4 py-1 shadow-none hover-to-dark" data-bs-dismiss="modal">Cancel</button>
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-danger ms-2 px-4 py-1 shadow-none hover-to-dark border-light">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>

</body>
</html>