<!-- DASHBOARD WITH NO DATA -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouth Masters</title>
    
    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- 'Roboto', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,700;1,900&display=swap" rel="stylesheet">

    <!-- 'Open Sans', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- 'Pacifico', cursive -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- 'Anton', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Script -->
    <script src="../js/components/transformation.js"></script>
    <script src="../js/components/modal.js"></script>
    <script src="../js/model/calendar.js"></script>
    <script src="../js/model/appointment.js"></script>
    <script src="../js/pages/calendar-form.js"></script>
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-white px-4">
        <div class="container-fluid">
            <a class="navbar-brand text-success pacifico weight-500 me-4" href="#">
                <i class="fa-solid fa-tooth me-2" width="30" height="24"></i>
                Mouth Masters
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-4 me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 active text-grayish" href="#"><i class="fa-solid fa-table-columns me-2"></i>Dashboard</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-teeth me-2"></i>Intraoral</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-tablet me-2"></i>Screening</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link roboto fs-sm outlined-hover-to-success weight-500 text-grayish" href="#"><i class="fa-solid fa-book me-2"></i>Logbook</a>
                </li>
                </ul>   
                <form class="d-flex m-0 p-0 w-50 text-end" role="search">
                    <div class="form-control form-control-sm bg-light border-0 m-0 p-0">
                        <input class="border border-1 rounded rm-outline w-50 m-0 me-2 py-1 px-2 fs-sm" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success hover-to-dark text-light m-0 py-0 px-4 fs-sm" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- Container Wrapper -->
    <div class="container-wrapper container-fluid bg-light-gray">
    <div class="row">

        <!-- Sidebar -->
        <div class="sidebar col-2 bg-light py-4 sticky-top">

            <div class="wrapper">

                <!-- Medical History Section -->
                <div class="card-content text-center bg-light border border-light rounded px-2 py-4">
                    <object data="../svg/calendar.svg"></object>
                    <h5 class="roboto my-3">Dentist Calendar</h5>
                    <p class="roboto weight-100 fs-xs">Check all the appointments using an advanced calendar.</p>
                </div>

                <div class="duty border border-0 px-2 pt-0 pb-2 mt-3 text-start">
                    <p class="roboto ms-2 fs-xs weight-600 text-grayish">Months</p>
                    <a data-index="0" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-champagne-glasses me-2"></i>January</a>
                    <a data-index="1" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-heart me-2"></i>February</a>
                    <a data-index="2" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-venus me-2"></i>March</a>
                    <a data-index="3" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-hand-peace me-2"></i>April</a>
                    <a data-index="4" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-briefcase me-2"></i>May</a>
                    <a data-index="5" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-dove me-2"></i>June</a>
                    <a data-index="6" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-bowl-food me-2"></i>July</a>
                    <a data-index="7" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-mask me-2"></i>August</a>
                    <a data-index="8" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-people-roof me-2"></i>September</a>
                    <a data-index="9" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-brain me-2"></i>October</a>
                    <a data-index="10" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-locust me-2"></i>November</a>
                    <a data-index="11" class="month-btns btn btn-light w-100 text-start shadow-none my-2 weight-600" href="#"><i class="fa-solid fa-gift me-2"></i>December</a>
                </div>

            </div>

        </div>
    
        <!-- Main Content -->
        <div class="col-7 p-4">

            <!-- Content Information -->
            <div class="content-information">

                <div class="section-title bg-success rounded-top px-4 py-2">
                    <h6 class="roboto text-light-gray weight-600 m-0 p-0"><i class="fa-solid fa-calendar me-2"></i></i>Calendar</h6>
                </div>

                <div class="section-title bg-light rounded-top px-4 py-2">
                    <div class="row">
                        
                        <!-- First Row -->
                        <div class="col-8 mt-5 mb-3">
                            <p class="roboto text-grayish weight-600 fs-sm pt-0 mt-0 date-p">Month DD, YYYY</p>
                        </div>

                        <div class="col-1 mt-5 mb-3 text-end">
                            <button class="year-btn btn btn-light shadow rounded" data-value="-1">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                        </div>

                        <div class="year-display col-2 mt-5 mb-3 px-0 text-end text-center">
                            <h2 class="roboto weight-600 text-secondary d-inline">2002</h2>
                        </div>

                        <div class="col-1 mt-5 mb-3 text-end">
                            <button class="year-btn btn btn-light shadow rounded" data-value="1">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>

                        <div class="calendar col-12 mb-5 mt-3">
                            <table class="w-100">
                                <!--
                                <tr>
                                    <th class="text-center"><p class="text-success roboto">SUN</p></th>
                                    <th class="text-center"><p class="text-success roboto">MON</p></th>
                                    <th class="text-center"><p class="text-success roboto">TUE</p></th>
                                    <th class="text-center"><p class="text-success roboto">WED</p></th>
                                    <th class="text-center"><p class="text-success roboto">THU</p></th>
                                    <th class="text-center"><p class="text-success roboto">FRI</p></th>
                                    <th class="text-center"><p class="text-success roboto">SAT</p></th>
                                </tr>
                                
                                <tr>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a>
                                    </td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                    <td class="text-center"><a class="text-dark roboto btn btn-light hover-to-grayish px-3 py-4 rounded shadow-none" href="#">00</a></td>
                                </tr>
                                -->
                            </table>
                        </div>

                    </div>
                </div>

            </div>

            <footer class="footer bg-success rounded-bottom px-4 pt-4 pb-2">
                <div class="row">

                    <div class="col-6">
                        <h6 class="text-light roboto weight-600 mb-4">Mouth Masters - Dental Clinic</h6>
                        <p class="text-light roboto fs-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="col-3 text-end">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Services</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Dental Service</p></li>
                        </ul>
                    </div>

                    <div class="col-3 text-end">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Tags</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Laravel</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">SASS</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">Bootstrap</p></li>
                            <li class="list-group-item bg-success border-0 m-0 p-0"><p class="text-light roboto fs-xs my-0 pd-0">JavaScript</p></li>
                        </ul>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <p class="text-light roboto fs-sm weight-600 mb-2">Copyright @ YYYY</p>
                    </div>

                </div>
            </footer>

        </div>
    
        <!-- Section -->
        <div class="section col-3 bg-light py-4 sticky-top">

            <div class="wrapper">

                <!-- X-ray Section -->
                <div class="card-content text-center border border-light bg-light rounded px-2 py-4">
                    <object data="../svg/appointment.svg"></object>
                    <h5 class="roboto my-3">Appointment</h5>
                    <p class="roboto weight-100 fs-xs">Patients who have an appointment from the selected date will apper here.</p>
                </div>

                <!-- Navigations -->
                <div class="duty navigation-section appointment mt-3">

                    <!-- Appointed User Lists -->
                    <p class="roboto ms-2 fs-xs weight-600 text-grayish">Appointed Patients</p>

                    <!-- Empty Appointed Items -->
                    <div class="btn bg-light-grayish w-100 text-start shadow-none my-2 hover-to-grayish" href="#">
                        <div class="row m-0 px-2 py-3">
                            <p class="col-10 m-0 p-0 roboto text-wrap fs-sm"><i class="fa-solid fa-hourglass me-3"></i>No Appointment Available</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    </div>

    <div class="modal-section fade modal-dialog-centered text-center">
        <div class="modal-dialog w-25 rounded-top">
            <div class="modal-content bg-light rounded-top">
            <div class="modal-header-box bg-danger text-center py-3 rounded-top">
                <h5 class="modal-title d-block text-light" id="exampleModalLabel">notificationMessage</h5>
                <p class="d-block p-0 m-0 fs-sm text-light">Mouth Masters - Dental Clinic</p>
                <button class="btn btn-danger close-btn shadow-none border border-none border-0"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body p-3">
                <p class="modal-paragraph fs-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn cancel-btn btn-secondary px-4 py-1 shadow-none hover-to-dark" data-bs-dismiss="modal">Cancel</button>
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-danger ms-2 px-4 py-1 shadow-none hover-to-dark border-light">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <script>
        
        const appointmentSettings = [
            {
                route: 1,
                name: 'last_name, first_name, mi. 1',
                done: true,
                color: 'blue',
                date: '2022-09-09',
                startTime: '10:50 AM',
                endTime: '1:30 PM'
            },
            {
                route: 2,
                name: 'last_name, first_name, mi. 2',
                done: false,
                color: 'indigo',
                date: '2022-09-09',
                startTime: '2:00 PM',
                endTime: '3:00 PM'
            },
            {
                route: 3,
                name: 'last_name, first_name, mi. 3',
                done: false,
                color: 'yellow',
                date: '2022-09-09',
                startTime: '4:00 PM',
                endTime: '6:00 PM'
            },
            {
                route: 4,
                name: 'last_name, first_name, mi. 4',
                done: true,
                color: 'indigo',
                date: '2022-09-11',
                startTime: '2:00 PM',
                endTime: '3:00 PM'
            },
            {
                route: 5,
                name: 'last_name, first_name, mi. 5',
                done: false,
                color: 'yellow',
                date: '2022-09-13',
                startTime: '4:00 PM',
                endTime: '6:00 PM'
            }
        ]

    </script>
</body>
</html>